.box1, .box2{
    display: inline;
    padding: 2px;
    border: 2px solid black;
    margin: 5px;
}
.box3, .box4{
    display: inline-block;
    padding: 10px;
    border: 2px solid red;
    margin: 5px;
}