@media only screen and (min-width: 60px) {
    .container {
        background-color: lightblue;
        font-size: 14px;
        padding: 10px;
    }
}   
div.container {
    background-color: lightgreen;
    font-size: 18px;
    padding: 20px;
}
.boxes{
    flex-direction: column;
}