div{

    background-color: lightblue;
}

video, audio {

    display: block;

    margin: 20px auto;

}
iframe {

    display: block;

    margin: 20px auto;

}   
img {

    display: block;

    margin: 20px auto;

}