ul li{

    list-style-type: circle;
    list-style-position: inside;
    background-color: yellow;
    border: 2px solid red;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: blue;
}