.box1{
    padding: 20px;
    margin: 60px;
    border: 3px solid black;
    background-color: lightsalmon;
}
.box2{
    padding: 20px;
    margin: 30px;
    border: 3px solid black;
    background-color: rgb(247, 77, 9);
}
.box{
    width: 200px;
    height: 100px;
    font-size: 15px;
    color: white;
}